//index.handlebars//

<!doctype html>
<html>
<head>
  <title>Lista de productos</title>
</head>
<body>
  <ul>
    {{#each products}}
      <li>{{this.name}} - ${{this.price}}</li>
    {{/each}}
  </ul>
</body>
</html>